name: CI

on:
  push:
    branches:
      - main
  pull_request:

env:
  CARGO_TERM_COLOR: always

jobs:
  test:
    name: test - ${{ matrix.arch }}
    strategy:
      fail-fast: true
      matrix:
        include:
          - target: x86_64-unknown-linux-gnu
            arch: x86_64
            runner: ubuntu-latest
            os: ubuntu
          - target: aarch64-unknown-linux-gnu
            arch: arm64
            runner: ubuntu-24.04-arm
            os: ubuntu
    runs-on: ${{ matrix.runner }}

    permissions:
      id-token: write
      contents: read

    steps:
      - uses: actions/checkout@v4
      - name: update apt cache
        run: sudo apt-get update
      - name: install protoc
        run: sudo apt-get install -y protobuf-compiler
      - uses: actions-rust-lang/setup-rust-toolchain@v1
        with:
          target: ${{ matrix.target }}
          rustflags: ""
      - uses: taiki-e/install-action@nextest
      - name: run tests
        uses: actions-rs/cargo@v1
        with:
          command: nextest
          args: run --target ${{ matrix.target }} --verbose

  # Check formatting with rustfmt
  formatting:
    name: cargo fmt
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      # Ensure rustfmt is installed and setup problem matcher
      - uses: actions-rust-lang/setup-rust-toolchain@v1
        with:
          components: rustfmt
          rustflags: ""
      - name: Rustfmt Check
        uses: actions-rust-lang/rustfmt@v1
